 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 
 .btn {
     margin: auto;
 }

 .containerTwo {
     margin-top: 50px;
 }

 .slider-line-two {
     display: flex;
     transition: all ease 1s;
     background-color: orangered;
     
 }

 .sliderTwo {
     border: solid 2px black;
     max-width: 500px;
     max-height: 50%;
     margin: 20px auto;
     overflow: hidden;
 }

 .wrapper {
    width: 600px;
    margin: 0 auto;;
 }